button{
    width: 100px;
    height: 40px;
    background-color: blue;
    color: white;
    border: 0px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;

}
button:hover{
    background-color: aquamarine;
    color: black;
    cursor: pointer;
}
h2{
    /* 자바스크립트의 태그도 css에서 조절할 수 있다. */
    font-size: medium;
    color: tomato;
}
header>div>a{
    text-decoration: none;
    display: inline-flex;
    background-color: white;
    color: maroon;
    /* 박스가 생겨야 가능한 조건들 */
    padding: 10px;
    border-radius: 5px;
    width: 30px;
    justify-content: center;
    align-items: center;
}